@{
  Layout = "Shared/_Layout.cshtml";
}
<form action="/result" method="post">
  <label for="date">Input Your Date MM/DD/YYYY</label>
  <input type="text" name="date" id="date">
  <button type="submit" class="btn btn-primary">Enter</button>
</form>

@if(@Model != null)
{
  <div class="calendarBox">
  <div class= "border"><h2 class="dateTitle">@Model["result"]</h2><i class="my-icon"><i></i><i></i><i></i><i></i><i></i></i></div></div>
  <h4>@Model["userInput"]</h4>
</div>

}
